/**
 * #.# Editor Styles for Button Block
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-ugb-button__link {
	background: #fff;
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 1.4;
 }
// [data-type="ugb/button"][data-align="left"] {
//     .editor-block-list__block-edit {
//         margin-right: 0 !important;
//         float: none !important;
//     }
//     .editor-block-list__block-edit:before {
//         content: "" !important;
//     }
// }