/**
 * #.# Styles for Button Block.
 *
 * CSS for both Frontend+Backend.
 */
// .wp-block-button.ugb-button-center {
// 	transform: translateX(-50%);
// 	left: 50%;
// 	position: relative;
// }

// span.wp-block-button.ugb-button-right {
// 	transform: translateX(-100%);
// 	left: 100%;
// 	position: relative;
// }

/**
 * Button link form styles.
 */
form.blocks-button__inline-link {
	margin: 1rem auto 0 auto;

	> div.editor-url-input {
		 flex-grow: 0;
		 width: auto;
		 margin-left: 8px;
	}
}

.ugb-button {
	@include baseBlock();
}

// .wp-ugb-button.wp-ugb-button {
.ugb-button {
	border: none;
	border-radius: 4px;
	box-shadow: none !important;
	cursor: pointer;
	// display: inline-block;
	// line-height: 1em !important;
	// margin: 0;
	.ugb-button-inner {
		text-decoration: none !important;
		white-space: nowrap;
		display: inline-block;
		color: #fff;
		box-shadow: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	opacity: 1;
	background: #2091e1;
	// padding: 0.75em 1em;
	transition: opacity .2s ease-in-out;
	box-shadow: none !important;
	@include baseButton();
	font-size: 1em;
	&:hover {
		opacity: .85;
		box-shadow: none !important;
		// border: 0;
	}
}
.ugb-button .ugb-button-inner:hover {
	color: white;
}


.ugb-button-small.ugb-button .ugb-button-inner {
	font-size: .75em;
}
// .ugb-button-normal {
	
// }
.ugb-button-medium.ugb-button .ugb-button-inner {
	// font-size: 1.25em;
	font-size: 1.25em;
}
.ugb-button-large.ugb-button .ugb-button-inner {
	font-size: 1.5em;
}
.ugb-button-left {
	// text-align: left;
	// margin-left: auto;
	margin-right: auto;
	display: table;
}
.ugb-button-center {
	// text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: table;
}
.ugb-button-right {
	// text-align: right;
	margin-left: auto;
	// margin-right: auto;
	display: table;
}
.ugb-button-full {
	display: block;
	text-align: center;
}
// .ugb-button-full .ugb-button-inner {
// 	display: block;
// 	width: 100%;
// 	text-align: center;
// }

// .wp-block-ugb-button.ugb-button-right {
// 	margin: 10px 0;
// 	text-align: right;
// }
// .wp-block-ugb-button.ugb-button-center {
// 	// margin: 10px 0;
// 	text-align: center;
// }
// .wp-block-ugb-button.ugb-button-left {
// 	margin: 10px 0;
// 	text-align: left;
// }


