/**
 * #.# Styles for Ghost Button Block.
 *
 * CSS for both Frontend+Backend.
 */
// .wp-block-ugb-ghost-button {
// 	@include baseBlock();
// }

// .wp-block-ugb-ghost-button.ugb-button-right {
// 	margin: 10px 0;
// 	text-align: right;
// }
// .wp-block-ugb-ghost-button.ugb-button-center {
// 	// margin: 10px 0;
// 	text-align: center;
// }
// .wp-block-ugb-ghost-button.ugb-button-left {
// 	margin: 10px 0;
// 	text-align: left;
// }

// .wp-block-button .wp-ugb-button.ugb-ghost-button,
// .wp-block-ugb-ghost-button .wp-ugb-button.ugb-ghost-button {
//.ugb-ghost-button .ugb-button-inner {
.ugb-button.ugb-ghost-button {
	background-color: transparent;
	border: 2px solid #2091e1;
	padding-left: 1.25em;
    padding-right: 1.25em;
	.ugb-button-inner {
		color: #2091e1;
	}
	&:hover {
		opacity: .85;
		box-shadow: none !important;
		.ugb-button-inner {
			color: #2091e1;
		}
	}
}
