/**
 * #.# Styles for Team Member Block.
 *
 * CSS for both Frontend+Backend.
 */
.ugb-team-member {
	@include baseBlock();
	display: flex;
	flex-wrap: wrap;
	margin: 0 (-$box-hori-padding / 2);
	.team-member-image {
		width: 300px;
	    height: 300px;
	    background-size: cover;
	    background-position: center;
		margin: 0 auto 1.3rem;
	}
	&.image-circle .team-member-image {
		border-radius: 100%;
	}
	&.column-2 {
		.team-member-image {
			width: 220px;
		    height: 220px;
		}
	}
	&.column-3 {
		.team-member-image {
			width: 150px;
		    height: 150px;
		}
	}
	> div {
		text-align: center;
		// padding: 1rem 0;
		@include baseBlock();
		p {
			text-align: center;
		}
		flex: 1;
		min-width: 250px;
		&, &:first-child, &:last-child {
			margin: ($box-hori-padding / 2) !important;
		}
	}
	h4 {
		margin: 0 0 .5rem !important;
		padding-top: 0;
	}
	.ugb-team-member-position {
		margin: 0 0 1rem;
	}
}
 .ugb-team-member {
	 .ugb-team-member-title {
	 }
	 .ugb-team-member-position {
		 opacity: .3;
		 font-size: .75em;
		 text-transform: uppercase;
	 }
	 .ugb-team-member-des,
	 .ugb-team-member-des-two,
	 .ugb-team-member-des-three {
		 opacity: .5;
		 margin: 0 0 1rem;
		 left: 0;
	 }
 }

.ugb-team-member.column-1 {
	.ugb-team-member-column-two,
	.ugb-team-member-column-three {
		display: none;
	}
}
.ugb-team-member.column-2 {
	// display: flex;
	// .ugb-team-member-column-one {
	// 	padding-right: 1rem;
	// }
	// .ugb-team-member-column-two {
	// 	padding-left: 1rem;
	// }
	// .ugb-team-member-column-one,
	// .ugb-team-member-column-two {
	// 	width: 50%;
	// }
	.ugb-team-member-column-three {
		display: none;
	}
	// .team-member-image img {
	// 	height: 200px;
	// 	width: 250px
	// }
}
// .ugb-team-member.column-3 {
// 	display: flex;
// 	.ugb-team-member-column-one,
// 	.ugb-team-member-column-two,
// 	.ugb-team-member-column-three {
// 		width: 33.33%;
// 	}
// 	.ugb-team-member-column-one {
// 		padding-right: 1rem;
// 	}
// 	.ugb-team-member-column-two {
// 		padding-left: 1rem;
// 		padding-right: 1rem;
// 	}
// 	.ugb-team-member-column-three {
// 		padding-left: 1rem;
// 	}
// 	.team-member-image img {
// 		height: 200px;
// 		width: 200px
// 	}
// }

.team-member-social a {
	color: #000000;
	opacity: .30;
	padding: 0 3px;
}
/**
 * Frontend Styles.
 */
// .wp-block-ugb-team-member {}
