/**
 * #.# Styles for Divider Block.
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ugb-divider {
	border: 0;
	height: 1px;
	width: 100%;
	background-color: transparent;
	// margin-top: 2rem;
	// margin-bottom: 2rem;
	@include baseBlock();
	hr {
		background-color: #dddddd;
		border: 0 !important;
		padding: 0 !important;
	}
}
