/**
 * #.# Styles for Card Block.
 *
 * CSS for both Frontend+Backend.
 */
.ugb-card {
	border-radius: 4px;
	// box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin: 30px 0;
	// padding-bottom: 30px;
	@include baseBlock();
	@include box();
	// box-shadow: $box-shadow;
    // border-radius: $box-border-radius;
    // padding: $box-padding;
	// &:not(.has-image) {
	// 	padding-top: 30px;
	// }
	&.has-image {
		.ugb-card-image-container {
			height: 300px;
			// width: 100%;
			// margin: 0 auto 20px;
			background-size: cover;
		    background-position: center;
			border-top-right-radius: $box-radius;
	    	border-top-left-radius: $box-radius;
			padding-top: 0px;
			margin: -60px -35px 35px !important;
			width: calc(100% + 35px * 2);
			+ *:not(.wp-ugb-button) {
				margin-top: 0 !important;
				padding-top: 0 !important;
			}
		}
	}
	// > *:first-child {
	// 	margin-top: 0 !important;
	// }
	// > *:last-child {
	// 	margin-bottom: 0 !important;
	// }
	// > h4, > * {
	// 	margin: 0 30px .5rem !important;
	// }
	// .wp-ugb-button {
	// 	margin-top: 1rem !important;
	// }
	// .ugb-card-image-container {
	// 	margin: 0 0 20px !important;
	// }
	// .ugb-tagline {
	// 	opacity: .7;
	// }
	// .wp-block-button.ugb-button-center {
	// 	margin-left: 0 !important;
	// 	margin-right: 0 !important;
	// }
	// .wp-block-button.ugb-button-right {
	// 	transform: translateX(-100%) translateX(-60px);
	// }
}
