/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

.gutenberg {
	.ugb-editor-label {
		font-size: 12px;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	    color: #8e979e;
		padding: 2em 0 0;
	    background: #fff;
	    border: none;
	    box-shadow: none;
	    white-space: nowrap;
		display: block;
		&:first-child {
			padding-top: 0;
		}
	}
}
[class*="ugb-"] form[class*="-link"], form[class*="ugb-"][class*="-link"], [class*="ugb-"] + form[class*="-link"] {
	display: flex;
    justify-content: center;
    align-items: center;
}

// Box
// :root {
$box-radius: 12px;
$box-hori-padding: 35px;
$box-vert-padding: 60px;

@mixin box() {
	box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px rgba(176, 181, 193, 0.2);
    border-radius: $box-radius;
    padding: $box-vert-padding $box-hori-padding;
}

@mixin baseBlock() {
	@include blockContentReset();
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

@mixin blockContentReset() {
	> * {
		margin-top: 0 !important;
		margin-bottom: 1rem !important;
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

@mixin baseButton() {
	padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
	padding-top: calc(.375em - 1px);
	// display: inline-flex;
    font-size: 1em;
	// height: 2.25em;
	line-height: 1.5 !important;
    align-items: center;
}

[class*="ugb-"].alignfull {
	border-radius: 0 !important;
}
