/*
Styles for the block editor and front end
*/
/* Import Atomic Blocks Sass Variables (inc/sass/variables.scss) */
/* These variables are used througout style.scss. */
/* Body font styles */
/* Title font styles */
/* Color variables */
/* Responsive media query mixins */
/* Styles for small text with uppercase font style. Used on dates and post meta */
p + .alignfull,
p + .alignwide {
  margin-top: 2em;
}

.wp-block-columns {
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .wp-block-columns {
    display: block;
  }
}

.wp-block-column {
  width: 48%;
  flex: 0 1 auto;
}

/*# sourceMappingURL=common.css.map */
