/**
 * #.# Styles for Pullquote Block.
 *
 * CSS for both Frontend+Backend.
 */
blockquote.ugb-pullquote {
	border: 0 !important;
	@include baseBlock();
	@include box();
	// border-top: 8px solid #2091e1;
	// border-bottom: 8px solid #2091e1;
	// border-left: none !important;
	// border-right: none !important;
	text-align: center;
    padding: $box-vert-padding;
    // margin: 1rem 0;
    // opacity: .5;
	// color: #2091e1;
	// font-size: 1.5em;
	// font-style: normal;
	// p {
	// 	margin: 0;
	// 	text-align: center;
	// }
	position: relative;
	overflow: hidden;
	--quote-color: rgba(129, 141, 165, .08);
	&, p {
		&:after, &:before {
			display: none;
		}
	}
	&:before {
		content: "❛❛";
		display: block;
		position: absolute;
		font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
		font-style: normal;
		font-size: 200px;
		line-height: 1em;
		left: -35px;
		top: -15px;
		opacity: 1;
		color: var(--quote-color);
	}
}
