/**
 * #.# Styles for Header Block.
 *
 * CSS for both Frontend+Backend.
 */
.ugb-blockquote {
	border: 0 !important;
	@include baseBlock();
	padding: $box-hori-padding;
	margin-left: $box-hori-padding;
	margin-right: $box-hori-padding;
	font-style: italic;
	text-align: inherit;
	background: transparent;
	position: relative;
	overflow: visible;
	--quote-color: rgba(129, 141, 165, 0.32);
	p {
		margin: 0;
	}
	&, p {
		&:after, &:before {
			display: none;
		}
	}
	&:before {
		content: "❛❛";
		display: block;
		position: absolute;
		font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
		font-style: normal;
		font-size: 100px;
		line-height: 1em;
		left: -35px;
		top: -15px;
		opacity: 1;
		color: var(--quote-color);
	}
}
